[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/thejaafourtech
[access "refs/for/refs/*"]
	read = group user/thejaafourtech
	push = group user/thejaafourtech
	label-Code-Review = -2..+2 group user/thejaafourtech
	label-Verified = -1..+1 group user/thejaafourtech
	rebase = group user/thejaafourtech
	removeReviewer = group user/thejaafourtech
	submit = group user/thejaafourtech
[access "refs/heads/*"]
	read = group user/thejaafourtech
	create = group user/thejaafourtech
	push = +force group user/thejaafourtech
	pushMerge = group user/thejaafourtech
[access "refs/tags/*"]
	push = group user/thejaafourtech
	push = +force group user/thejaafourtech
