[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/theja (thejaafourtech)
[access "refs/for/refs/*"]
	read = group user/theja (thejaafourtech)
	push = group user/theja (thejaafourtech)
	label-Code-Review = -2..+2 group user/theja (thejaafourtech)
	label-Verified = -1..+1 group user/theja (thejaafourtech)
	rebase = group user/theja (thejaafourtech)
	removeReviewer = group user/theja (thejaafourtech)
	submit = group user/theja (thejaafourtech)
[access "refs/heads/*"]
	read = group user/theja (thejaafourtech)
	create = group user/theja (thejaafourtech)
	push = +force group user/theja (thejaafourtech)
	pushMerge = group user/theja (thejaafourtech)
[access "refs/tags/*"]
	push = group user/theja (thejaafourtech)
	push = +force group user/theja (thejaafourtech)
